.App {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    142deg,
    rgba(45, 91, 254, 1) 0%,
    rgba(8, 217, 214, 1) 100%
  );
  display: flex;
  padding: 15px;
  box-sizing: border-box;
}
